// _media-queries.scss

// Mobile devices

$mobile :576px;
$tablet :767px;
$laptop:991px;
$desktop:1199px;
$xlDesktop:1200;
@mixin mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  }
  
  // Tablet devices
  @mixin tablet {
    @media only screen and (min-width: $mobile) and (max-width: $tablet) {
      @content;
    }
  }
  
  // Small desktops
  @mixin laptop {
    @media only screen and (min-width: $tablet) and (max-width: $laptop) {
      @content;
    }
  }
  
  // Large desktops
  @mixin desktop {
    @media only screen and (min-width: $laptop) and (max-width: $desktop) {
      @content;
    }
  }
  
  // Extra large desktops
  @mixin xlDesktop {
    @media only screen and (min-width: $xlDesktop) {
      @content;
    }
  }